config_version=5
[application]
config/name="Bunny Material Audit"
[display]
window/size/viewport_width=800
window/size/viewport_height=800
[rendering]
renderer/rendering_method="gl_compatibility"
textures/default_filters/use_nearest_mipmap_filter=false
