local/
persistence_*/profile.json
persistence_*/expected_after.json
preview/
route_*/identity_flow.json
persistence_*/reload.*
route_*/*.png
!route_Rifle/00_hideout.png
!route_Rifle/00_hub_Rest.png
!route_Rifle/00_hub_Workshop.png
!route_Rifle/00_menu.png
!route_Rifle/00_opening_operator.png
!route_Rifle/00_settings.png
!route_Rifle/01_arrival.png
!route_Rifle/01_deployment.png
!route_Rifle/01_mission.png
!route_Rifle/04_terminal.png
!route_Rifle/05b_after_dodge.png
!route_Rifle/05c_enemy_engagement.png
!route_Rifle/05d_extraction.png
!route_Rifle/06_result.png
!route_Rifle/07_return_hanger.png
!route_Rifle/combat_enemy_death_1.png
!route_Rifle/switch_0_Rocket.png
!route_Rifle/switch_1_Rifle.png
!route_SMG/01_hanger.png
!route_SMG/01_loot_open.png
!route_SMG/01_loot_taken.png
!route_SMG/combat_enemy_death_1.png
!route_SMG/switch_1_SMG.png
